<!-- wp:template-part {"slug":"header-cta","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main
  class="wp-block-group"
  style="
    margin-top: 0;
    padding-top: var(--wp--preset--spacing--60);
    padding-bottom: var(--wp--preset--spacing--60);
  "
>
  <!-- wp:pattern {"slug":"sorai/hidden-404"} /-->
  <!-- wp:pattern {"slug":"sorai/hidden-search"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
