<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:spacer {"height":"var:preset|spacing|20"} -->
<div
  style="height: var(--wp--preset--spacing--20)"
  aria-hidden="true"
  class="wp-block-spacer"
></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap","verticalAlignment":"top"}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:avatar /-->

    <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|5"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:query-title {"type":"archive","textAlign":"left","align":"wide","fontSize":"xxxx-large","style":{"typography":{"letterSpacing":"-0.05em"}}} /-->

      <!-- wp:post-author-biography /-->
    </div>
    <!-- /wp:group -->
  </div>
  <!-- /wp:group -->

  <!-- wp:spacer {"height":"var:preset|spacing|30"} -->
  <div
    style="height: var(--wp--preset--spacing--30)"
    aria-hidden="true"
    class="wp-block-spacer"
  ></div>
  <!-- /wp:spacer -->

  <!-- wp:pattern {"slug":"sorai/posts-grid-3-columns"} /-->
</main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var:preset|spacing|30"} -->
<div
  style="height: var(--wp--preset--spacing--30)"
  aria-hidden="true"
  class="wp-block-spacer"
></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
