<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:group {"metadata":{"name":"Container"},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group">
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:post-featured-image {"style":{"color":{"duotone":"var:preset|duotone|primary"}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"lock":{"move":false,"remove":true}} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
