<!-- wp:template-part {"slug":"header-cta","area":"header"} /-->

<!-- wp:spacer {"height":"var:preset|spacing|20"} -->
<div
  style="height: var(--wp--preset--spacing--20)"
  aria-hidden="true"
  class="wp-block-spacer"
></div>
<!-- /wp:spacer -->

<!-- wp:group {"tagName":"main","align":"full"} -->
<main class="wp-block-group alignfull">
  <!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:group {"tagName":"header","style":{"spacing":{"blockGap":"var:preset|spacing|10"}},"layout":{"type":"constrained"}} -->
    <header class="wp-block-group">
      <!-- wp:post-terms {"term":"category"} /-->

      <!-- wp:post-title {"level":1,"style":{"typography":{"letterSpacing":"-0.05em"}}} /-->

      <!-- wp:post-excerpt {"style":{"typography":{"lineHeight":"1.45"}},"fontSize":"medium"} /-->

      <!-- wp:template-part {"slug":"post-meta","theme":"sorai"} /-->
    </header>
    <!-- /wp:group -->

    <!-- wp:post-featured-image {"aspectRatio":"16/9","align":"wide","style":{"shadow":"var:preset|shadow|md"}} /-->

    <!-- wp:post-content {"lock":{"move":false,"remove":true},"align":"full","layout":{"type":"constrained"}} /-->

    <!-- wp:post-terms {"term":"post_tag","separator":"","className":"is-style-hash"} /-->

    <!-- wp:separator -->
    <hr class="wp-block-separator has-alpha-channel-opacity" />
    <!-- /wp:separator -->

    <!-- wp:template-part {"slug":"post-navigation"} /-->

    <!-- wp:spacer {"height":"var:preset|spacing|10"} -->
    <div
      style="height: var(--wp--preset--spacing--10)"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:template-part {"slug":"comments"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"var:preset|spacing|30"} -->
<div
  style="height: var(--wp--preset--spacing--30)"
  aria-hidden="true"
  class="wp-block-spacer"
></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
