<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
  <!-- wp:group {"metadata":{"name":"Container"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide">
    <!-- wp:group {"tagName":"header","metadata":{"name":"Header"},"layout":{"type":"constrained"}} -->
    <header class="wp-block-group">
      <!-- wp:group {"metadata":{"name":"Title"},"align":"wide","layout":{"type":"constrained","justifyContent":"left"}} -->
      <div class="wp-block-group alignwide">
        <!-- wp:post-title {"level":1,"align":"wide"} /-->

        <!-- wp:post-excerpt {"style":{"typography":{"lineHeight":"1.45"}},"fontSize":"medium"} /-->
      </div>
      <!-- /wp:group -->

      <!-- wp:group {"metadata":{"name":"Post Meta"},"style":{"spacing":{"blockGap":"var:preset|spacing|5"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
      <div class="wp-block-group">
        <!-- wp:post-author {"showBio":false,"isLink":true,"style":{"color":{"duotone":"var:preset|duotone|primary"}}} /-->

        <!-- wp:paragraph {"style":{"layout":{"selfStretch":"fit","flexSize":null},"typography":{"fontStyle":"normal","fontWeight":"400"}},"textColor":"contrast-muted"} -->
        <p
          class="has-contrast-muted-color has-text-color"
          style="font-style: normal; font-weight: 400"
        >
          /
        </p>
        <!-- /wp:paragraph -->

        <!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|5"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group" style="margin-top: 0; margin-bottom: 0">
          <!-- wp:group {"metadata":{"name":"Date"},"style":{"spacing":{"blockGap":"0.2rem"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
          <div class="wp-block-group">
            <!-- wp:paragraph {"textColor":"contrast-muted","fontSize":"tiny"} -->
            <p
              class="has-contrast-muted-color has-text-color has-tiny-font-size"
            >
              on
            </p>
            <!-- /wp:paragraph -->

            <!-- wp:post-date {"isLink":true} /-->
          </div>
          <!-- /wp:group -->

          <!-- wp:paragraph {"style":{"layout":{"selfStretch":"fit","flexSize":null}},"textColor":"contrast-muted"} -->
          <p class="has-contrast-muted-color has-text-color">/</p>
          <!-- /wp:paragraph -->

          <!-- wp:post-terms {"term":"category","prefix":"in "} /-->
        </div>
        <!-- /wp:group -->
      </div>
      <!-- /wp:group -->
    </header>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Featured Image"},"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide">
      <!-- wp:post-featured-image {"aspectRatio":"16/9","align":"wide","style":{"color":{"duotone":"var:preset|duotone|primary"}}} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"metadata":{"name":"Content"},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:post-content /-->

      <!-- wp:post-terms {"term":"post_tag","separator":"","className":"is-style-hash"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"tagName":"footer","metadata":{"name":"Footer"},"align":"wide","layout":{"type":"constrained"}} -->
    <footer class="wp-block-group alignwide">
      <!-- wp:separator -->
      <hr class="wp-block-separator has-alpha-channel-opacity" />
      <!-- /wp:separator -->

      <!-- wp:group {"metadata":{"name":"Post Navigation"},"layout":{"type":"flex","orientation":"vertical"}} -->
      <div class="wp-block-group">
        <!-- wp:post-navigation-link {"type":"previous","showTitle":true,"linkLabel":true} /-->

        <!-- wp:post-navigation-link {"textAlign":"left","showTitle":true,"linkLabel":true} /-->
      </div>
      <!-- /wp:group -->
    </footer>
    <!-- /wp:group -->

    <!-- wp:spacer {"height":"var:preset|spacing|10"} -->
    <div
      style="height: var(--wp--preset--spacing--10)"
      aria-hidden="true"
      class="wp-block-spacer"
    ></div>
    <!-- /wp:spacer -->

    <!-- wp:comments -->
    <div class="wp-block-comments">
      <!-- wp:post-comments-form /-->

      <!-- wp:spacer {"height":"var:preset|spacing|20"} -->
      <div
        style="height: var(--wp--preset--spacing--20)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:comments-title {"showPostTitle":false} /-->

      <!-- wp:spacer {"height":"var:preset|spacing|5"} -->
      <div
        style="height: var(--wp--preset--spacing--5)"
        aria-hidden="true"
        class="wp-block-spacer"
      ></div>
      <!-- /wp:spacer -->

      <!-- wp:comment-template -->
      <!-- wp:columns -->
      <div class="wp-block-columns">
        <!-- wp:column {"width":"40px"} -->
        <div class="wp-block-column" style="flex-basis: 40px">
          <!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /-->
        </div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column">
          <!-- wp:comment-author-name {"fontSize":"small"} /-->

          <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
          <div
            class="wp-block-group"
            style="margin-top: 0px; margin-bottom: 0px"
          >
            <!-- wp:comment-date {"fontSize":"small"} /-->

            <!-- wp:comment-edit-link {"fontSize":"small"} /-->
          </div>
          <!-- /wp:group -->

          <!-- wp:comment-content /-->

          <!-- wp:comment-reply-link {"fontSize":"small"} /-->
        </div>
        <!-- /wp:column -->
      </div>
      <!-- /wp:columns -->
      <!-- /wp:comment-template -->

      <!-- wp:comments-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
      <!-- wp:comments-pagination-previous /-->

      <!-- wp:comments-pagination-numbers /-->

      <!-- wp:comments-pagination-next /-->
      <!-- /wp:comments-pagination -->
    </div>
    <!-- /wp:comments -->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
